.SideMenuContainer{
    background-color: var(--white);
    color:var(--text);

    position: fixed;
    left: 0;
    top:0;

    width: 20vw;
    height: 100vh;

    z-index: 10;

}
.SideMenuItens{
    appearance: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.SideMenuItens li{
    appearance: none;
    text-align: center;

}